<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded m-4">
    <form class="row g-3 m-4">
        <h3>Standort erfassen</h3>
        <div class="col-md-12">
            <label for="inputUsername" class="form-label">Benutzername</label>
            <input type="text" class="form-control" id="inputUsername">
        </div>

        <div class="col-6">
            <label for="inputStreet" class="form-label">Straße</label>
            <input type="text" class="form-control" id="inputStreet">
        </div>

        <div class="col-6">
            <label for="inputHouseNumber" class="form-label">Hausnummer</label>
            <input type="text" class="form-control" id="inputHouseNumber">
        </div>

        <div class="col-md-6">
            <label for="inputCity" class="form-label">Ort</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Land</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option value="Baden-Württemberg">Baden-Württemberg</option>
                <option value="Bavaria">Bavaria</option>
                <option value="Berlin">Berlin</option>
                <option value="Brandenburg">Brandenburg</option>
                <option value="Bremen">Bremen</option>
                <option value="Hamburg">Hamburg</option>
                <option value="Hesse">Hesse</option>
                <option value="Lower Saxony">Lower Saxony</option>
                <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
                <option value="North Rhine-Westphalia">North Rhine-Westphalia</option>
                <option value="Rhineland-Palatinate">Rhineland-Palatinate</option>
                <option value="Saarland">Saarland</option>
                <option value="Saxony">Saxony</option>
                <option value="Saxony-Anhalt">Saxony-Anhalt</option>
                <option value="Schleswig-Holstein">Schleswig-Holstein</option>
                <option value="Thuringia">Thuringia</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">PLZ</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
    </form>
</div>
