<div class="d-flex justify-content-center">
    <form id="loginForm" class="mt-4 shadow-lg p-4 mb-5 bg-body-tertiary rounded-4">
        <h3>Login</h3>
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsername" name="inputUsername">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Passwort</label>
            <input type="password" class="form-control" id="inputPassword" name="inputPassword">
        </div>
        <div class="mb-3">
            <a onclick="navigateTo('register')">Du hast noch keinen Account? -></a>
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#loginForm').submit(function(event) {
            event.preventDefault(); // Prevent default form submission

            const form = document.getElementById('loginForm');

            login(event, form);

        });
    });
</script>
