<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
       onClick="if (checkForLoggedIn()) {navigateTo('friends')} else {navigateTo('login')}">Friends & Locations</a>
    <!-- Logo/Markenname der Anwendung mit Verlinkung -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a id="edit" class="nav-link" href="#" data-destination='edit' onClick="navigateTo('edit')">Location
          erfassen</a> <!-- Link zur "Location erfassen" Seite -->
        <a id="friends" class="nav-link" href="#" data-destination='friends'
           onClick="navigateTo('friends')">Freunde</a> <!-- Link zur "Freunde" Seite -->
        <a id="logout" class="nav-link" href="#" data-destination='logout'
           onClick="logout(sessionStorage.getItem('username'), sessionStorage.getItem('sessionID'))">Abmelden</a>
        <!-- Link zum Abmelden -->
      </div>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function () {

    if (!checkForLoggedIn()) {
      $('#edit').hide(); // Verstecke den "Location erfassen" Link, wenn der Benutzer nicht eingeloggt ist
      $('#friends').hide(); // Verstecke den "Freunde" Link, wenn der Benutzer nicht eingeloggt ist
      $('#logout').hide(); // Verstecke den "Abmelden" Link, wenn der Benutzer nicht eingeloggt ist
    } else {
      $('#edit').show(); // Zeige den "Location erfassen" Link, wenn der Benutzer eingeloggt ist
      $('#friends').show(); // Zeige den "Freunde" Link, wenn der Benutzer eingeloggt ist
      $('#logout').show(); // Zeige den "Abmelden" Link, wenn der Benutzer eingeloggt ist
    }
  });
</script>
